*{
    font-size: 20px;
    background-color: #c0c0c0;
}

/* home page */

p{
    display: flex;
    margin: 50px auto;
    width: 75%;
    
}

h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
}


h2{
    display: flex;
    justify-content: center; 
    color: #c4932c;
    border: 1px solid#000;
    background-color: #000;
    width: 75%;
    margin: 50px auto;
}

/* the ul at the top */
.directory{
    list-style: none;
}
/* the li with a different background color */
.directory li{
    font-size: 30px;
    border: 2px solid #000;
    margin: 25px;
    background-color: #c4932c;
}

li{ 
    display: inline-block;
}

 /* the logo and ul at the top */
.container{
    display: flex;
    justify-content: center;
    padding-right: 150px;
}

.container img{
    max-width: 200px;
    max-height: 200px;
    padding-right: 150px;
}

/* the first set of text */
.background p{
    display: flex;
    justify-content: center;
    width: 750px;
}
/* second paragraph of text */
.whatTheyDo p{
    display: flex;
    justify-content: center;
    max-width: 75%;
}

/* the photos showing work done */
.workimg{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.workimg img{
    max-width: 350px;
    max-height: 350px;
}

/* all the copyright and social media logos */
.copyright{
    display: flex;
    justify-content: center;
}

.copyright li{
    display: flex;
    justify-content: center;
}

.secondarydirectory li{
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 600px){

.container img{
    margin-left: 150px;
}

.workimg{
display: grid;
columns: auto;
}

.backgroundphoto img{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px auto;
    max-width: 450px;
    max-height: 450px;
}


}

/* end of home */

/* contact page */

.map{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.contact{
    width: 75%;
    margin: 50px auto;
}

.contact div{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.name-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.name-row .info-row{
    flex-basis: 45%;
}
input{
    width: 100%;
}
label{
    margin-bottom: 5px;
    display: block;
}
textarea{
    width: 100%;
    border: 1px solid #000;
    outline: none;
    padding: 10px;
}

button{
  
    width: 100px;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
button:active {
    background-color: #c4932c;
    box-shadow: 0 5px #000;
    transform: translateY(4px);
  }

.info p{
    display:flex;
    justify-content: center;
    width: 50%;
}

/* end of contact */

/* start of about */
.backgroundphoto{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px auto;
    max-width: 300px;
    max-height: 400px;
}

.do {
    display: flex;
    margin: 50px auto;
    width: 75%;
}

.workdone img{

    justify-content: center;
    max-width: 300px;
    max-height: 300px;
    gap: 10px;
    padding-left: 120px;
    padding-bottom: 75px;
}

.description{
    display: flex;
    margin: 60px auto;
    width: 75%;
}

/* test hamburger */
header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.container a {
    display: block;
}

.container a img{
    display: block;
    width: 100%;

}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.directory{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.directory li{
    list-style-type: none;
}

.directory li a {
    color: #c4932c;
    background-color: #000;
    text-decoration: none;
    display: block;
    padding: 20px 15px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}

.directory li a:hover{
    box-shadow: 0 -5px 0px #c4932c inset,
    500px 0 0 rgba(255, 255, 255, 0.03) inset;
    padding: 15px 10px 25px 20px;
}

.hamburger{
    position: relative;
    width: 30px;
    height: 4px;
    background: #c4932c;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before,
.hamburger:after{
    content: "#";
    position: absolute;
    height: 4px;
    right: 0;
    background: #c4932c;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger:before{
    top: -10px;
    width: 20px;
}

.hamburger:after{
    top: 10px;
    width: 25px;
}

.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,.toggle-menu {
    display: none; 
}

.navigation input:checked ~ .hamburger{
    background: transparent;
}

.navigation input:checked ~ .hamburger:before{
     top: 0;
    transform: rotate(-45deg);
    width: 30px; 
}

.navigation input:checked ~ .hamburger:after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked ~ .directory{
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}